<div class="page-header">
	<h1>Créez votre recette</h1>
</div>

<div class="row">
	<div class="col-xs-12">
		<p>Donnez un nom à votre recette <strong style="display:block">ou</strong> copiez l'adresse web d'une recette hébergée par site "partenaire"*</p>
		<%= render 'new_recipe_form', recipe: @recipe %>
	</div>
</div>
