<section id="content">
	<h1>Recherche pour  "<%= @searched_terms %>"</h1>

	<%= render 'shared/recipes' , :recipes => @recipes %>
	<%= will_paginate @recipes , :class => "apple_pagination" %>

</section>


