<h1>Liste des utilisateurs</h1>

	<% if current_user and  [1,2].include? current_user.id %>
		<%= render 'users/table' , :users => User.all %><%= render 'users/table' , :users => User.all %>
	<% end %>

<ul class="users">
	<% @users.each do |user| %>
		<li><%= render 'shared/user' , :user => user %></li>
	<% end %>
</ul>

<%= will_paginate @recipes , :class => "apple_pagination" %>