<div class="page-header">
	<h1>s'inscrire</h1>
</div>

<p class="alert alert-info">Créez vos recettes et exportez les en PDF avec votre nouveau compte.<br/>Déjà inscrit ? <%= link_to "Connectez-vous !", signin_path %></p>

<%= render 'users/form', user: @user %>