<h1><%= @user.nom %></h1>



<ul>
	<li><%= pluralize(@user.recipes.count, "recette") %> à son actif<pre>TODO: add link</pre></li>
	<li><%= pluralize(@user.comments.count, "commentaire") %> à son actif<pre>TODO: add link</pre></li>
</ul>

<div id="rang"><%= pluralize(@user.rank, "point") %></div>