<div class="bubble">
	<strong><%= comment.title %></strong><%= comment.content  %>
</div>
<%= link_to comment.user.firstname , comment.user , :class => 'author' %> - 
<time><%= comment.created_at.strftime("%d.%m.%y") %></time>