<div class="col-md-6">

	<% if params[:controller] == 'recipes' and params[:action] == 'show' %>
		<div class="row"><%= render 'comments/form', :comment => @comment , :recipe_id => @recipe.id %></div>
	<% end %>
	

	<% comments.each do |comment| %>
		<%= render 'shared/comment', :comment => comment %>
	<% end %>

</div>