<ul id="comments">


	<% if not current_page?(:controller => 'pages', :action => 'feeds') %>
		<li><%= render 'comments/form', :comment => @comment , :recipe_id => @recipe.id %></li>
	<% end %>

	
	

	<% comments.each do |comment| %>
		<li class="comment"><%= render 'shared/comment', :comment => comment %></li>
	<% end %>

</ul>