<ul id="comments">


	<% if params[:controller] == 'recipes' and params[:action] == 'show' %>
		<li><%= render 'comments/form', :comment => @comment , :recipe_id => @recipe.id %></li>
	<% end %>

	
	

	<% comments.each do |comment| %>
		<li class="comment"><%= render 'shared/comment', :comment => comment %></li>
	<% end %>

</ul>