<ul>

<% comments.each do |comment| %>
	<li><strong><%= comment.title  %></strong><br/>
		<quote><%= comment.content  %></quote><br/>
		<%= link_to comment.user.nom , comment.user %>
	</li>
<% end %>

</ul>