<ul id="comments">

	<li><%= render 'comments/form', :comment => @comment , :recipe_id => @recipe.id %></li>

	<% comments.each do |comment| %>
		<li class="comment"><%= render 'shared/comment', :comment => comment %></li>
	<% end %>

</ul>