<% begin %>
	<div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
		<figure class="recipe" >

			<%= link_to image_tag(recipe.true_thumb_image_url , alt: "Thumb - #{recipe.name}", class: "img-responsive img-circle") , recipe%>
			
			<figcaption>
				<% if recipe.variant_name %>
					<%= link_to "%s - %s " % [  recipe.name , recipe.variant_name] , recipe %>
				<% else %>
					<%= link_to recipe.name , recipe %>
				<% end %>
			</figcaption>

		</figure>
	</div>

<% rescue NoMethodError => e 
	# can't find this recipe
 end %>

