<% begin %>

	<% recipes.each do |recipe| %>
		<div class="col-sm-4 col-md-3 col-xs-6"><%= render 'shared/recipe' , :recipe => recipe %></div>
	<% end %>
		
<% rescue NoMethodError => e # In case of nil%>
		<p>Aucune recette n'a été trouvée</p>
<% end %>

