<% begin %>
  <% recipes.each do |recipe| %>
    <%= render 'shared/recipe' , recipe: recipe if recipe.is_a? Recipe %>
  <% end %>
  <% rescue NoMethodError => e # In case of nil%>
  <p>Aucune recette n'a été trouvée</p>
<% end %>