<% begin %>

	<ul class="recipes">
	<% recipes.each do |recipe| %>
		<li><%= render 'shared/recipe' , :recipe => recipe %></li>
	<% end %>
	</ul>
		
<% rescue NoMethodError => e # In case of nil%>
		<p>Aucune recette n'a été trouvée</p>
<% end %>

