<span class="stars-rating">
	<% stars.times do %>
		<%= image_tag '/assets/images/icons/star.svg' , alt: 'star' %>
	<% end %>
	<% (5-stars).times do %>
		<%= image_tag '/assets/images/icons/star_empty.svg' , alt: 'star empty' %>
	<% end %>
</span>