<span class="stars-rating">
	<% stars.times do %>
		<%= image_tag 'icons/star.svg' , alt: 'star', size: '40' %>
	<% end %>
	<% (5-stars).times do %>
		<%= image_tag 'icons/star_empty.svg' , alt: 'star empty', size: '40' %>
	<% end %>
</span>
