<h1>Ingredients</h1>

<p>Toutes la base de données des ingrédients est fournie par </p>
<a href="http://fr.openfoodfacts.org/"></a><img src="http://static.openfoodfacts.org/images/misc/openfoodfacts-logo-fr-178x150.png" alt="Logo de OpenFoodFact"></a>

<h2>Découvrir</h2>

<p>Open Food Facts est une base de données sur les produits alimentaires faite par tout le monde, pour tout le monde.</p>
<p>Elle vous permet de faire des choix plus informés, et comme les données sont ouvertes (open data), tout le monde peut les utiliser pour tout usage.</p>

<h2>Contribuer</h2>
<p>Open Food Facts est un projet citoyen à but non lucratif créé par des milliers de volontaires à travers le monde.
Vous pouvez commencer à contribuer en ajoutant un produit de votre cuisine, et nous avons plein de projets enthousiasmants auxquels vous
pouvez participer de beaucoup de façons différentes.</p>

<%= render  'ingredients/form_search'  %>