<h1>Crédits</h1>

<h2>Couleurs</h2>
<%= link_to 'flatuicolors.com' , 'https://flatuicolors.com/'%>


<h2>Fonts</h2>
<%= link_to 'Janitor' , 'http://www.dafont.com/fr/janitor.font' %>
<%= link_to 'lavi' , 'http://www.dafont.com/fr/lavi.font' %>
Utilisé pour le titre principal


<h2>Tutoriels</h2>
<p>Header inspirated by <a href="http://designmodo.com">Design Modo</a>. First named <a href="http://designmodo.com/demo/retrocss3navigation">Retro CSS navigation</a></p>