
<section id="section_home_first" class="home" style="background-image: url('/assets/images/raspberry_cook.svg');background-position: -100px ;  ">
	
	<h1>Raspberry Cook</h1>

	<div id="quote" >
		<q><font color="#2980b9">Yes</font> <font color="#F2F1EF">you</font> <font color="#e74c3c">Cook!</font></q>
		<legend>Barack Obama - 2008</legend>
	</div>

	<%#= render 'shared/recipes_form_search'  %>

</section>

<section class="home" style="background-image: url('/assets/images/recipe.png'); background-position: right">
	<h2>Des recettes. Partout. Tout plein</h2>
	<p>Consultez, partagez, télechargez vos recettes préferées. C'est tout simplement génial!</p>
</section>

<section class="home" style="background-image: url('/assets/images/flatvsrealism.png')">
	<h2>Un design IM-PEC-CABLE</h2>
	<p>Ou du moins quand même bien foutu.</p>
</section>


<section class="home" style="background-image: url('/assets/images/github-octocat.svg'); background-position: right -160px center">
	<h2>un projet open-source</h2>
	<p>Et ça ne veut pas seulement dire "gratuit" !</p>
</section>






<!-- <h2>Le dernières recettes</h2> -->
<%#= render 'shared/recipes' , :recipes => @recipes %>
