
<section style="background-image: url('/assets/images/raspberry_cook.png')">
		<q>Yes you Cook!</q>
		<legend>Barack Obama - 2008</legend>
</section>

<section style="background-image: url('/assets/images/recipe.png'); background-position: right">
	<h1>Des recettes. Partout. Tout plein</h1>
	<p>Consultez, partagez, télechargez vos recettes préferez. C'est tout simplement génial!</p>
</section>

<section style="background-image: url('/assets/images/flatvsrealism.png')">
	<h1>Un design IM-PEC-CABLE</h1>
	<p>Ou du moins quand même bien foutu.</p>
</section>


<section style="background-image: url('/assets/images/github.png'); background-position: right">
	<h1>un projet open-source</h1>
	<p>Et ça ne veut pas seulement dire "gratuit" !</p>
</section>






<!-- <h2>Le dernières recettes</h2> -->
<%#= render 'shared/recipes' , :recipes => @recipes %>
