<h1>bienvenue</h1>

<p>RaspBerry Cook est avant tout un outil pour <strong>stocker</strong>, <strong>visualiser</strong> et <strong>télecharger</strong> vos recettes. </p>

<h3>Finis le papier, bonjour le cloud!</h3>
<p>Vos recettes seront stockées sur mon <strong>Raspberry Pi</strong>. Ce petit bijou se rapellera sans problème de toutes vos petites recettes.</p>
<p>Quand vous lui demanderez (gentillement), il vous l'affichera proprement sur une belle page web (ou sur un pdf si vous voulez la consulter hors-connexion).</p>

<h3>Ton Raspa-quoi?!</h3>
<p>Mon RASP-BER-RY! Il s'agit d'un micro-ordinateur dédié à l'apprentissage. Pour quelques dizaines d'euros vous pouvez, comme moi, monter votre propre serveur web. Le <strong>Do It Yourself</strong>, ça vous parle?</p>

<figure>
	<img class="recette" src="media/raspberry-pi.jpg" alt="un Raspberry Pi B+" title="coucou!" />
	<figcaption>Un bien beau Raspberry</figcaption>
</figure>


<h3>Ok, ok! Très bien! Mais je m'en tape! Komment jé fé?</h3>
<%= link_to 'créer ton compte' , signup_path %>

<h3>Ha mais moi je ne veux pas te filer mes données personnelles</h3>
<p>Et comme je te comprend! Rien ne t'empêche de consulter les reccetes sans posséder de compte<br/>
<a class="recette" href="home_recette">recettes</a></p>
