<section id="infos">

	<h1>Bienvenue sur Rasperry Cook</h1>

	<p>Raspberry Cook est une application web permettant de stocker, partager et ranger vos recettes de cuisine</p>

	<h2>A propos du site</h2>

	<h3><q>Ceci est une révolution</q></h3>

		<p>Le principe est simple mais efficace:</p>
		<ul>
			<li>des recettes. Partout. Tout plein</li>
			<li>un design IM-PEC-CABLE</li>
			<li>un projet open-source</li>
		</ul>

		<p>Et tout ça gratuitement, simplement: rapidement.</p>


	<h3>Dans tes dents Facebook!</h3>

		<p>Chez Raspberry Cook toutes vos données sont sécurisées dans ma base de données, au chaud, chez moi. Ceci signifie que tout ce que vous publiez ne sera pas utilisé à des fins publicitaires ou monétaires, promis!</p>


</section>
