<section class="error" style="text-align: center">
	<h1>En cours de construction</h1>

	<%= image_tag "500.gif" %>
	<p>Ohh non... Le site est actuellement en cours de maintenance..  Nous travaillons dur pour regler ça.</p>	
</section>