<section class="error" style="text-align: center">
	<h1>Erreur 404</h1>

	<%= image_tag "/assets/images/404.gif" , :class => "error_404"%>
	<p>Ohh non... La page que vous avez demandé n'existe pas... Peut-être une prochaine fois.</p>	
</section>