@import colors
@import mixin

@mixin message_flash($color)
	display: none
	position: fixed
	top: $header_height
	right: 0
	background-color: lighten($color, 10%)
	color: $white
	width: 200px
	padding: 10px
	border: 2px solid
	@include border-radius(5px)
	@include box-shadow ( 0px , 10px , rgba(0,0,0,.5) )

	&:hover
		background-color: lighten($color, 20%)
	

div.flash_error
	@include message_flash($dark_red)

div.flash_notice
	@include message_flash($orange)
	
div.flash_success
	@include message_flash($green)
