@import colors



form
	text-align: center

	fieldset
		box-sizing: border-box 
	

	label
		margin-top: 10px
		display: block

		&.checkbox
			display: inline

	input,
	select
		width: 300px

		&[type=checkbox]
			height: 20px
			width: 20px

	textarea
		height: 250px
		width: 100%
		box-sizing: border-box 

	input,
	form textarea
		margin-bottom: 10px

	fieldset
		border: none


	ul.times
		padding: 0px
		list-style: none
		text-align: center

		li
			width: 100px
			display: inline-block
			padding: 10px

			input
				text-align: center
				width: 100%


label.radio_buttons_with_icon
	margin-top: 40px

	
ul.radio_buttons_with_icon 
	
	padding: 0px

	background-color: $light_gray

	li

		width: 150px
		text-align: center
		display: inline-block
		

		input[type=radio]
			width: 18px
			display: inline-block

		label
			display: inline-block
			width: 100px
			text-align: center
			cursor: pointer

			img
				width: 50px
				display: block

		&:hover
			background-color: $white