@import colors


form
	text-align: center

	label
		display: block
		margin-top: 10px

	input,
	select
		width: 300px

	textarea
		height: 250px
		width: 100%

	input,
	form textarea
		margin-bottom: 10px


	ul.times
		list-style: none
		text-align: center

		li
			width: 100px
			display: inline-block
			padding: 10px

			input
				text-align: center
				width: 100%


label.radio_buttons_with_icon
	margin-top: 40px

	
ul.radio_buttons_with_icon 

	background-color: $light_gray

	li

		width: 150px
		text-align: center
		display: inline-block
		

		input[type=radio]
			width: 18px
			display: inline-block

		label
			display: inline-block
			width: 100px
			text-align: center
			cursor: pointer

			img
				width: 50px
				display: block

		&:hover
			background-color: $white