@import colors
@import mixin
@font-face 
	font-family: "Janitor" 
	src: url('/assets/font/Janitor.ttf')

$width_header-title: 320px
$width_header-signin: $width_header-title


header
	background-color: $dark_red //$primary_color
	color: $white
	height: $header_height
	text-align:center
	font-size: 30px
	position: fixed
	width: 100%
	top: 0px
	padding: 0px


	div

		position: absolute

		top: 0
		bottom: 0
		padding: 0
		margin: 0

		@include box-sizing("border-box")
		display: inline-block


	div#header-title
		width: $width_header-title 
		max-width: $width_header-title 


		h1 
			color: $light_gray
			font-family: 'pacifico'
			font-weight: 200
			display: inline-block
			line-height: $header_height
			margin: 0px
			font-size: 45px

		a#nav-button
			text-decoration: none
			position: relative
			color: $light_gray
			line-height: $header_height

			font-size: 45px
			top: 0px 



	div#header-search
		width: calc(100% - 640px)
		max-width: calc(100% - 640px)
		text-align: center

		left: $width_header-title



		form#recipes_form_search
			display: inline-block
			position: relative
			top: 10px
			left: 0px
			margin: auto
			padding: 0px
			width: 100%

			


			input
				border: none
				display: inline-block
				text-align: center
				font-size: 30px
				height: $header_height - 20px
				margin: auto
				padding: 0px
				width: 100%

				&[type=submit]
					display: none



	div#header-sigin
		text-align: right
		width: $width_header-signin
		max-width: $width_header-signin
		right: 0

		a
			right: 5px
			color: inherit
			text-decoration: inherit
			display: inline-block
			line-height: $header_height

			font-style: 18px

