@import colors
@import mixin
@font-face 
	font-family: "Janitor" 
	src: url('/assets/font/Janitor.ttf')

$width_header-title: 120px
$width_header-signin: $width_header-title


header
	background-color: $dark_red //$primary_color
	color: $white
	height: $header_height
	text-align:center
	font-size: 30px
	position: fixed
	width: 100%
	top: 0px
	padding: 0px


	div

		position: absolute
		top: 0
		bottom: 0
		padding: 0
		margin: 0

		@include box-sizing("border-box")
		display: inline-block


	div#header-title
		width: $width_header-title 
		max-width: $width_header-title 


		a
			position: relative
			vertical-align: top
			top: 3px
			bottom: 0
			margin: 0
			padding: 0

		a#nav-button
			text-decoration: none
			position: relative
			color: $light_gray
			line-height: $header_height

			font-size: 45px
			top: 0px

		img
			height: 50px



	div#header-search
		width: calc(100% - 280px)
		max-width: calc(100% - 240px)
		text-align: center

		left: $width_header-title



		form#recipes_form_search
			display: inline-block
			position: relative
			top: 5px
			left: 0px
			margin: auto
			padding: 0px
			width: 100%

			


			input
				border: none
				display: inline-block
				text-align: left
				font-size: 17px
				height: 15px
				margin: auto
				padding: 15px
				width: 100%
				@include border-radius(7px)


				&[type=image]
					display: block
					position: absolute
					background-color: transparent
					background-image: url('/assets/images/icons/search.svg')
					top: 5px
					right: 0px
					width: 40px
					height: 40px
					padding: 0
					margin: 0




	div#header-sigin
		text-align: right
		width: $width_header-signin
		max-width: $width_header-signin
		right: 0

		a
			right: 5px
			color: inherit
			text-decoration: inherit
			display: inline-block
			line-height: $header_height

			font-style: 18px

	nav
		display: none
		height: $header_height
		margin: 0px
		width: calc(100% - 100px)
		overflow: hidden
		position: absolute
		right: 0
		border-bottom: solid 2px


		a
			color: inherit
			text-decoration: none

		ul
			box-sizing: border-box
			
			margin: auto
			text-align: center
			max-height: $header_height


			li
				display: inline
				overflow: hidden
				color: $white
				padding-right: 10px

				width: 30%
				height: $header_height
				max-height: $header_height
				line-height: $header_height


				font-size: 24px
				color: $header_height


				&:hover
					text-decoration: underline