@mixin border-radius($radius)

	-webkit-border-radius: $radius
	-moz-border-radius: $radius
	border-radius: $radius

@mixin effect-picture ($effect , $value)
	-webkit-filter: $effect($value)
	-moz-filter: $effect($value)
	-ms-filter: $effect($value)
	-o-filter: $effect($value)
	filter: $effect($value)

@mixin box-shadow-inset ($horizontal , $vertical , $color)
	webkit-box-shadow: inset 0px $vertical $horizontal 0px $color
	-moz-box-shadow: inset 0px $vertical $horizontal 0px $color
	box-shadow: inset 0px $vertical $horizontal 0px $color

@mixin box-sizing ($option)
	-webkit-box-sizing: border-box
	-moz-box-sizing: border-box
	box-sizing: border-box