@import colors
@import 'compass/css3/box-sizing'


.navbar
  // setup red background color
  background-color: $primary_color
  border-color: $primary_color

  span.icon-bar, 
  a.navbar-brand
    color: white
    border-color: white

  li.navbar-img
    a
      padding: 5px
    img
      height: 40px


  a.navbar-brand
    font-family: 'Pacifico', cursive
    font-size: 28px






// overwitte 
.navbar-default .navbar-nav > li > a
  color: $white

  &:hover,
  &:focus,
  &:active
    background-color: $white

// retablish black color for link in dropdown items
ul.dropdown-menu li 
  color: black

.navbar-default .navbar-form
  border: 0px
  margin-right: 0px
  margin-left: 0px


#search-icon
  cursor: pointer

  img
    height: 50px
    padding: 10px

  &:hover
    background-color: $white


#search-recipe-form
  display: none
  position: fixed
  top: 50px
  left: 0
  right: 0
  z-index: 1
  width: 100%
  background-color: $white
  height: 50px

  padding: 0

  input
    border-bottom: dashed 2px $second_color
    border-top: none
    border-left: none
    border-right: none
    height: 50px
    width: 100%
    line-height: 40px
    font-size: 32px
