@import colors

// sizing the brand picture
.navbar-img
  padding: 5px
  a
    max-height: 40px
    padding-top: 0px

  img
    height: 40px

nav.navbar
  // setup red background color
  background-color: $primary_color


  .navbar-collapse

    a
      color: $white

      // disable white background when item is hovered
      &:hover,
      &:focus,
      &:active
        background-color: inherit

    // retablish black color for link in dropdown items
    ul.dropdown-menu li
      a
        color: inherit

    // disable white background when item is hovered
    .nav .open a:focus,
      background-color: $primary_color