@import colors

#section_home_first
	height: 500px
	background-color: $dark_red
	color: #F2F1EF

	#quote
		width: 100%
		//margin-bottom: 40px
		//margin-top: 30%
		position: relative
		bottom: 0px

	q , legend
		font-family: "pacifico"
		text-align: center
		display: block
		width: 100%

	q
		color: $white
		font-size: 60px
		padding-top: 30px

	legend
		color: $white
		font-size: 30px

	p
		color: $white

	form
		width: 410px
		background-color: $transparent
		padding: 20px
		margin: auto

	input
		display: inline-block
		margin: 0
		font-family: sans-serif
		font-size: 24px
		appearance: none
		box-shadow: none
		border-radius: none
		border: none

		&[type=text]
			width: 300px
		&[type=submit]
			width: 100px
			background-color: $green



section.home
	width: 100%
	min-height: 300px
	margin: 0px
	padding: 10px
	background-repeat: no-repeat
	background-size: auto 100%


	&:nth-child(odd)
		background-color: $light_gray

	&:nth-child(even)
		background-color: white

	h1 , p
		text-align: center

