@import colors


section.home
	background-image: url('/assets/images/wallpaper.png')
	//background-image: url('/assets/images/recipes/default.png')
	background-size: cover 
	height: 50vh
	display: flex 
	flex-direction: column
	justify-content: center
	text-align:center
	font-size: 20px

	q
		font-size: 50px

	h1
		margin: 0px
		padding: 0px

section
	width: 100%
	min-height: 300px
	margin: 0px
	padding: 10px
	background-repeat: no-repeat
	background-size: auto 100%


	&:nth-child(odd)
		background-color: $light_gray

	&:nth-child(even)
		background-color: white

	h1 , p
		text-align: center

