@import colors


#search_recipe_form
  display: none
  // copy of .well of bootsrap
  padding: 19px
  margin-bottom: 20px
  background-color: #f5f5f5
  border: 1px solid #e3e3e3
  border-radius: 4px
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
  box-shadow: inset 0 1px 1px rgba(0,0,0,.05)
  // add margin
  margin-top: 10px

#recipe-search-tools
  text-align: center

  padding-top: 20px
  padding-bottom: 20px
  margin-bottom: 50px


  //display nav-pills centered
  .navs-tabs,
  .nav-pills
    text-align: center
    li
      float: none
      display: inline-block

      a
        font-size: 24px
        color: $second_color

        &:hover
          background-color: transparent
          text-decoration: underline


div.thumbnail.recipe
  text-align: center
  height: 500px

  h3
    font-size: 22px
    font-family: 'Pacifico', cursive
    color: #2c3e50

  p
    font-size: 18px
    line-height: 30px
