@import colors
@import mixin




h1.recipe
	font-family: 'Pacifico', cursive
	font-size: 40px
	font-weight: 100
	text-align: center
	vertical-align: middle
	//background-color: $light_brown
	color: $dark_red
	padding: 10px
	margin: 0px



// display of recipes list
ul.recipes
	margin: auto
	display: block
	padding-left: 0px


	li
		margin: 30px
		width: 200px
		display: inline-block
		font-family: 'Pacifico', cursive
		font-size: 20px
		text-align: center


		figure
			width: 100%

			img
				width: 200px
				height: 200px
				@include border-radius(20px)



			a
				text-decoration: none
				color: #2c3e50



//recipe sheet
#times
	background-color: $light_gray
	display: inline-block
	width: 100%
	text-align: center
	vertical-align: center


	div 
		background-size: 60% 60% 
		background-repeat: no-repeat
		background-position : center center
		display: inline-block
		width: 100px
		height: 100px
		display: inline-block 
		font-weight: lighter
		font-size: 20px
		text-align: center
		vertical-align: center
		line-height: 100px 

		time 
			display: block
			font-size: 30px

		time:after
			content: '"'



#recipe_picture
	// background-color: #ECF0F1 
	// background-size: cover
	// background-position: center
	background: center 0 no-repeat fixed
	background-size: cover
	@include effect-picture( 'grayscale' , '100%')
	margin-top: 50px
	height: 600px
	width: 100%
	margin: auto

	ul , textarea 
		position: relative
		left: 50%
		top: -300px
		width: 40% 
		height: 300px
		font-size: large


	figure 
		text-align: center
		width: 350px
		position: relative
		display: inline-block
		margin: auto

	figcaption 
		text-align: center
		padding: 5px
		font-size: small

	img 
		max-width: 100%
		max-height: 100%



#ing_n_steps , #ingredients
	margin-top: 20px
	margin-bottom: 20px
	font-size: medium
	text-align: center

	ul ol 
		margin: 0px

	li 
		margin: 5px
		list-style-type: none

#ingredients
	font-size: 16px
	// background-color: $blue

#etapes
	background-color: $light_gray
	width: 100%



#ing , #steps 
	display: inline-block
	width: 60%

	li
		margin-bottom: 40px


#ing
	position: relative
	top: center
	width: 30%
	height: 100%
	text-align: right
	color: #1E824C


#steps, #etapes
	color: #96281B
	border-left: solid #6C7A89 1px
	display: inline-block
	margin: auto
	text-align: left

	ol
		padding-left: 0px
		counter-reset: repas

	li
		counter-increment: repas /* on incrémente le compteur à chaque nouveau li */
		margin-bottom: 40px
		text-align: justify

		&:before
			content: counter(repas) /* on affiche le compteur */
			display: block
			font-size: x-large
			font-weight: lighter
			// float: left
			color: $text_color



