@import colors
@import "compass/css3/box-shadow"
@import "compass/css3/filter"


img.icon-recipe
  height: 10px



// Title of recipe in Recipes#Show
div.page-header.recipe img.user
  height: 100px
  float: left
  margin-right: 20px

.stars-rating img
  height: 40px

img.views
  height: 40px


// Recipe picture in Recipes#Show
div.recipe-picture-ribon
  text-align: center

  img.recipe-image
    min-width: 100%

  .col-md-9
    padding: 0


  div.recipe-label
    vertical-align: middle
    padding: 4px
    text-align: center
    margin-top: 10px

    font-size: 18px
    color: $light_gray

    a
      color: inherit

    img
      height: 50px
      display: block
      margin: auto

.recipe-comments
  margin-top: 100px


.recipe-toolbar
  padding-top: 100px
  padding-bottom: 100px

.recipe-information
  margin-top: 5px
  margin-bottom: 5px

.recipe-times
  height: 40px
  margin-top: 100px
  margin-bottom: 0
  .recipe-time
    font-size: 20px

    span
      line-height: 20px

    .recipe-time-title
      display: block
      font-size: 14px


  strong
    display: block

  img
    max-height: 20px
