@import colors
@import "compass/css3/box-shadow"
@import "compass/css3/filter"


img.icon-recipe
  height: 10px



// Title of recipe in Recipes#Show
div.page-header.recipe img.user
  height: 100px
  float: left
  margin-right: 20px

.stars-rating img
  height: 40px

img.views
  height: 40px

img.recipe-image
  width: 100%

.recipe-comments
  margin-top: 100px

.recipe-toolbar
  padding-top: 100px
  padding-bottom: 100px

.recipe-information
  margin-top: 5px
  margin-bottom: 5px

.recipe-times
  height: 40px
  margin-bottom: 0
  .recipe-time
    font-size: 20px

    span
      line-height: 20px

    .recipe-time-title
      display: block
      font-size: 14px


  strong
    display: block

  img
    max-height: 20px
