#search_recipe_form

  .allergen
    padding: 2px

    div.checkbox
      margin-top: 1px
      margin-bottom: 1px

      input[type="checkbox"]
        display: none

      div.picture
        height: 50px

      div.text
        line-height: 50px
        word-wrap: break-word
        overflow: hidden
        white-space: nowrap
