@import colors

$footer_height: 50px

html,
body,
header
	margin: 0px

h1
	font-size: 40px
	font-family: "Verdana"
	text-align:center

h1,
h2,
h3
	color: $primary_color

p
	color: $text_color
	font-size: 18px

	a
		color: inherit



section#content
	max-width: 1200px
	margin: auto


//trick to have a great footer
html
	height: 100%
body
	min-height: 100%
	position: relative
	padding-bottom: $footer_height
footer
	position: absolute
	bottom: 0
	left: 0
	right: 0
	padding-bottom: 20px
	height: $footer_height
	font-size: 20px
	background-color: $footer_color
	font-size: 16px
	color: $light_gray


body
	margin: 0px
	padding-top: $header_height
	font-family: sans-serif 
	background-color: $background_color

fieldset
	display: inline-block
	width: 200px
	padding: 20px


form  input , form  textarea
	display: block
	margin-bottom: 10px
	width: 100%


section#content
	background-color: $background_color


ul.actions
	background-color: $light_gray
	width: 100%
	margin: 0px
	padding-left: 0px
	padding-right: 0px
	padding-top: 20px
	padding-top: 20px
	padding-bottom: 10px
	text-align: center

	li

		display: inline-block
