$primary_color : rgba(192, 57, 43 , 1)
$second_color : rgba(231, 76, 60 , 1)
$background_color : #FFFFFF
$light_gray: #ecf0f1
$footer_color: rgb(52, 73, 94)

$transparent: rgba(0,0,0,.4)

$dark_red: #96281B
$white: #F2F1EF

$text_color : #2c3e50

$green: #27ae60
$blue: rgba(158,220,243,1)
$brown: #784421
$light_brown: #DCCAB3

$midnight_blue: #2c3e50


$header_height: 56px
