

$blue: rgb(158,220,243)
$brown: #784421
$dark_red: #96281B
$green: #27ae60
$midnight_blue: #2c3e50
$orange: #e67e22
$white: #FFFFFF
$light_brown: #DCCAB3



$primary_color : $dark_red
$second_color : $midnight_blue
$background_color : #F2F1EF
$text_color : $second_color


$light_gray: #ecf0f1
$gray: #9E9E9E


$transparent: rgba(0,0,0,.4)




$footer_color: $second_color


$header_height: 56px
