<div id="header-title">
	<a id="nav-button" href="#">&#9776;<h1>raspberry cook</h1></a>
	
</div>

<div id="header-search">
	<%= render 'shared/recipes_form_search'  %>
</div>



<div id="header-sigin">
	<% if signed_in? %>
		<%= link_to image_tag("/assets/images/icons/add_cupcake.svg", size: "54") , new_recipe_path %>
		<%= link_to image_tag("/assets/images/icons/people.svg", size: "54") , user_path(current_user) %>
		<%#= link_to 'deconnexion' , signout_path %>
	<% else %>
		<%= link_to 'connexion' , signin_path %>
	<% end %>
</div>
