<ul>

	
<li><%= link_to image_tag("/assets/images/icons/home.svg", size: "50") + "home" , home_path %></li>

<li><%= link_to image_tag("/assets/images/icons/bars-1.svg", size: "50") + "bibliothèque" , recipes_path %></li>


	<!-- <ul>
		<li><%#= link_to 'bibliothèque' , recipes_path %></li>
		<li><%#= link_to 'ingredients' , ingredients_path %></li>

		<%# if signed_in? %>
			<li><%#= link_to 'mes recettes' , user_path(current_user) %></li>
			<li><%#= link_to 'ajouter' , new_recipe_path %></li>
		<%# end %>
	</ul> -->


	
<li><%= link_to image_tag("/assets/images/icons/info.svg", size: "50") + "à propos" , pages_credits_path %></li>




</ul>