<nav>
	<ul>
		<li><%= link_to "bibliothèque" , recipes_path %></li>
		<li><%= link_to "créer une recette" , new_recipe_path %></li>
		<li><%= link_to "à propos" , pages_credits_path %></li>
	</ul>
</nav>